<title> Docker Creation</title>
<head>
    <style type="text/css">
            p {
              font-weight:bold;
              font-size:26px;
            }
        </style>
</head>
<p>If you want do deploy only one container press 1 </p>
<p>you want to deploy a lot of  containers (connected) press 2</p>
<p>if you want to build your image and deploy it press 3</p>
<form method="POST">
    <input name="text">
    <input type="submit">
</form>
<p>after this we will go on with the ports for the container</p>
